COMPOSE_PROJECT_NAME=quant

QUANT_API_CONTAINER_NAME=quant-api
QUANT_WEB_CONTAINER_NAME=quant-web
QUANT_FREQTRADE_CONTAINER_NAME=quant-freqtrade
QUANT_MIHOMO_CONTAINER_NAME=quant-mihomo

QUANT_API_PORT=9011
QUANT_WEB_PORT=9012
QUANT_FREQTRADE_PORT=9013
QUANT_MIHOMO_PORT=9016
QUANT_MIHOMO_CONTROLLER_PORT=9017

QUANT_API_ENV_FILE=./api.env
QUANT_FREQTRADE_ENV_FILE=../freqtrade/.env
QUANT_FREQTRADE_PUBLIC_CONFIG=config.base.json
QUANT_FREQTRADE_PRIVATE_CONFIG=config.private.json
QUANT_FREQTRADE_PROXY_CONFIG=config.proxy.noop.json
QUANT_FREQTRADE_STRATEGY=SampleStrategy
QUANT_MIHOMO_IMAGE=metacubex/mihomo:latest
